<mat-card>
    <mat-card-content>

        <h2>Forgot Password</h2>

        <div *ngIf="!submitted">

            <p>Enter the username below. Username is your email address</p>
            <mat-form-field>
                <input matInput placeholder="Username" required [(ngModel)]="username">
            </mat-form-field>

            <button [disabled]="submitted || username=='' " mat-raised-button color="primary"
                (click)="submit()">Submit</button>
        </div>

        <p *ngIf="submitted">If the user exists with the given email, an email has been sent with further instructions
            to reset your
            password.
            <br />
            <strong>Please check your email for instructions.</strong>
        </p>

    </mat-card-content>
</mat-card>