a {
    text-decoration: none;
    color: white;
}

.menu-link {
    vertical-align: middle;
    display: inline-flex
}

a:hover,
a:active {
    color: lightgray;
    background-color: #535da9;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}