<mat-card>
    <mat-card-content>
        <form [formGroup]="credentials" (ngSubmit)="submit()">
            <h2>Forgot Password</h2>
            <p>Enter new password</p>
            <mat-error *ngIf="!loginValid">
                The Link has expired
            </mat-error>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Password has to be more than 6 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password" formControlName="rePassword" required>
                <mat-error>
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!credentials.valid">Login</button>
        </form>
    </mat-card-content>
</mat-card>